<% provide(:title, 'Home') %>

<div class="center home-hero">

	<nav>
	   	<ul class="nav nav-pills pull-left">
	       	<li><%= link_to "Home", root_path %></li> 	
	    </ul>
	   		 
	 <% if signed_in? %>
	    <ul class="nav nav-pills pull-right">
	       	 <li id="fat-menu" class="dropdown">
    	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
             <ul class="dropdown-menu pull-right">
                <li><%= link_to "Profile", profile_path(current_user.name) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Log Out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>	
		    </ul>
	 <% else %>

	 	<ul class="nav nav-pills pull-right">
	       	<li><%= link_to "Login", signin_path %></li> 	
	    </ul>

	    <ul class="nav nav-pills pull-right">
	       	<li><%= link_to "Signup", signup_path %></li> 	
	    </ul>

	 <% end %>	 
	    
	</nav>

	<h1>TapeDeckHero.</h1>
	
	<p>Feature Your Song of the Day</p>	
		
</div>

<div class="container feature">

	<% if signed_in? %>
		
	<ul>
			<% @feed_items.each do |p|  %>

			<li>
				<div class="episode"> 

					<div id="feed-info">
						<h3>"<%= p.title %>" by <span id="artist"><%= p.artist %></span></h3>
					</div>	

					<div id="profile-photo">
						<%= link_to image_tag(p.user.photo.url, size: "50x50", class: "img-circle"), profile_path(p.user.name) %>	
					</div>
						
					<% if p.yt? %>
						<iframe class="youtube-player" type="text/html" width="940" height="578" src="<%= "http://www.youtube.com/embed/"+p.ytcode %>" allowfullscreen frameborder="0">
						</iframe>
			
					<% end %>	

				</div>
			</li>
				
			<% end %>
		</ul>
 
 	<% end %>

</div>


