<% provide(:title, 'Home') %>

<div id="home-wall-wrapper" >
	<div class="home-wall fixed">

		<% if signed_in? %>
			<div class="logout">
					<%= link_to(image_tag(asset_path("icon_logout.svg")), logout_path, method: "delete") %>
			</div>
		<% end %>
		
		<div class="center home-hero">	
	
			<div id="home-logo">
				<img src=<%= asset_path('tonic_logo.svg') %> id="tonic_logo" />
			</div>
	
			<div id="home-title">
				<h1>Tonic</h1>
			</div>

			<div id="slogan">
				<p>Discover Music</p>
			</div>
			
			<div id="button">
				<% if signed_in? %>
					<%= button_to "New Episode", new_post_path, id:"new-action", method: "get" %>
				<% end %>
			</div>	
			
		</div>
		
		<div class ="center menu">

			<a href=<%= root_path %>>
				<img src=<%= asset_path('icon_home_hover.svg') %> id="icon_home" />
			</a>
			<a href=<%= @current_user.name %>>
				<img src=<%= asset_path('icon_profile.svg') %> id="icon_profile" />
			</a>
				<img src=<%= asset_path('icon_search.svg') %> id="icon_search" />
				<img src=<%= asset_path('icon_settings.svg') %> id="icon_settings" />
			
		</div>
		
	</div>	

</div>	

<div class="home-feature">

	<div class="stage">	

		<div div="latest-episode">
			<h2>Feed</h2>
		</div>

		<% if @latestpost.yt? %>

			<section class="gem">
				<iframe name="main-player" class="youtube-player" type="text/html" width="540" height="304" src="<%= "http://www.youtube.com/embed/"+@latestpost.ytcode+"?&autoplay=0&controls=1&showinfo=0&autohide=1" %>" allowfullscreen frameborder="0">
				</iframe>

				<section class="track-info">
					
					<div class="track-head">					
						<div id="track-title">
							<h4><%= @latestpost.title %></h4>
						</div>

						<div id="artist-name">
							By <%= @latestpost.artist %>
						</div>
					</div>	
	
					<div id="blurb">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut
					</div>

					<div id="profile-photo">
						<%= image_tag @latestpost.user.photo.url, size:"50x50", class: "img-circle" %>
					</div>	
						
					<div id="timestamp">
						<span id="time">Posted <%= time_ago_in_words(@latestpost.created_at) %> ago by</span> <span id="username"><%= @latestpost.user.name %></span>
					</div>
									
				</section>
			</section>	

		<% end %>
	</div>	

	<div class="chest">
		<ul>
			<% @feed_items.each_with_index do |p,i|  %>

			<% ep = @count-i %>

			<li>
				<div class="episode">

					<% if p.yt? %>

							<button class="menu-item" href="javascript:;" target="main-player" data-remote="true" vid= "<%= "http://www.youtube.com/embed/"+p.ytcode+"?autoplay=1&controls=1&showinfo=0&autohide=1&iv_load_policy=3" %>" title="<%= p.title %>" artist="<%= p.artist %>" blurb="<%= p.blurb %>" episode="<%=ep%>" created="<%= time_ago_in_words(p.created_at) %>" photo="<%= p.user.photo.url %>" user="<%= p.user.name %>">
								
								<div id="thumb-photo">
									<%= image_tag "http://img.youtube.com/vi/"+p.ytcode+"/mqdefault.jpg", size:"211x119" %> 
								</div>
								
								<div class="info-box">
									<div id="thumb-title">
										<%= p.title %> 
									</div>

									<div id="thumb-artist">
										<span>
											<%= p.artist %> 
										</span>
									</div>

									<%= image_tag p.user.photo.url, size:"30x30", class: "img-circle" %>

								</div>	

							</button>
					<% end %>	

				</div>
			</li>
				
			<% end %>
		</ul>
	</div>		
</div>
