<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://w3resource.com/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>

<script>

$(document).ready(function() {
        
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        $(".feature").find("button").click(function() {
            console.log("click");
            var episode = $(this).attr("episode");
            $(".track-info").find("#episode-number").text("Episode "+episode);

            var track = Number($(this).attr("track"));
            //$(".youtube-player").attr("src", vid);
            changeStageInfo(this);
            player.playVideoAt(track);
        
        });

        $(".home-feature").find("button").click(function() {
            console.log("click");
            var track = Number($(this).attr("track"));
            //$(".youtube-player").attr("src", vid);
            changeStageInfo(this);
            player.playVideoAt(track);
        });
});

// Ran asychronously with the script in home
var player;
function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
    events: {
      'onStateChange': onPlayerStateChange,
      'onReady': onPlayerReady
    }
 });
};

function onPlayerStateChange(event) {
    if(event.data == -1) {
        var gem = document.getElementById("button"+player.getPlaylistIndex());
        changeStageInfo(gem);
        turnOffAllButtons();
        // Turn on Button
        turnOnButton(gem);
    }
};

function onPlayerReady(event) {
    var gem = document.getElementById("button0");
    // Turn on Button
    turnOnButton(gem);
};

function changeStageInfo(gem) {

    $(".track-info").find("#track-title").find("h4").text(gem.getAttribute("title"));
    //window.alert(gem.artist);
    $(".track-info").find("#artist-name").text(gem.getAttribute("artist"));
    $(".track-info").find("#timestamp").find("#username").find("a").text(gem.getAttribute("user"));
    $(".track-info").find("#timestamp").find("#username").find("a").attr("href", "/"+gem.getAttribute("user"));
    $(".track-info").find("#timestamp").find("#time").text("Posted "+gem.getAttribute("created")+ " ago by ");
    $(".track-info").find("#profile-photo").find("img").attr("src", gem.getAttribute("photo"));
    $(".track-info").find("#profile-photo").find("a").attr("href", "/"+gem.getAttribute("user"));

    if(gem.getAttribute("episode"))
        $(".track-info").find("#episode-number").text("Episode "+gem.getAttribute("episode"));

    $(".track-info").find("#blurb").find("#blurb-text").text(gem.getAttribute("blurb"));
    var fill = generateBlurbFill(gem.getAttribute("blurb"));
    $(".track-info").find("#blurb").find("#blurb-fill").text(fill);

    $(".track-info").find("#track-id").attr("postid", gem.getAttribute("postid"));
    var likeid = "#like_form" + gem.getAttribute("postid");
    if($(".like").find(likeid).find(".like-button").length)
        $("#current_like").html("<%= escape_javascript(render('users/current_like')) %>");
    else
        $("#current_like").html("<%= escape_javascript(render('users/current_unlike')) %>");
};

function turnOnButton(gem) {
    // Turn on Button
    gem.style.opacity = 1.0;
    //gem.style.filter = alpha(opacity=100);

}

function turnOffButton(gem) {
    gem.style.opacity = 0.60;
    //gem.style.filter = alpha(opacity=50);
}

function turnOffAllButtons() {
    var all = document.getElementsByClassName('menu-item');
    // turn off all buttons
    for (var i = 0; i < all.length; i++) {
        turnOffButton(all[i]);
    }
}

</script>

<% provide(:title, 'Home') %>

<div id="home-wall-wrapper" >
    <div class="home-wall fixed">

        <% if signed_in? %>

            <div class="login-out">
                <%= link_to(image_tag(asset_path("icon_logout.svg"), id:"lo"), logout_path, method: "delete", data: { confirm: "Are you sure you want to log out?" }) %>
                <span id="log-out-tag">Log out</span>
            </div>

            <div class="center home-hero">

                <div id="home-title">
                    <h1>Stereotonic</h1>
                </div>

                <div id="slogan">
                    <p>Music that matters</p>
                </div>

                <div id="button">
                    <%= button_to "New Episode", new_post_path, id:"new-action", method: "get" %>
                </div>

                <div class ="center menu">

                    <a href=<%= root_path %> rel="tooltip" title="Home" class="home_link">
                        <img src=<%= asset_path('icon_home.svg') %> id="icon_home" />
                    </a>

                    <a href=<%= @current_user.name %> rel="tooltip" title="Profile" class="profile_link">
                        <img src=<%= asset_path('icon_profile.svg') %> id="icon_profile" />
                    </a >

                    <a href=<%= users_path %> rel="tooltip" title="Search" class="search_link">
                        <img src=<%= asset_path('icon_search.svg') %> id="icon_search" />
                    </a>

                    <a href=<%= edit_user_path(@current_user.id) %> rel="tooltip" title="Settings" class="settings_link">
                        <img src=<%= asset_path('icon_settings.svg') %> id="icon_settings" />
                    </a>

                    <script>
                        $('.home_link').tooltip({ placement: 'top'});
                        $('.profile_link').tooltip({ placement: 'top'});
                        $('.search_link').tooltip({ placement: 'top'});
                        $('.settings_link').tooltip({ placement: 'top'});
                    </script>

                </div>

        </div>

        <% else %>

            <div class="login-out">
                <%= link_to(image_tag(asset_path("icon_logout.svg"), id: "li"), signin_path, method: "get") %>
                <span id="log-in-tag">Log in</span>
            </div>

            <div class ="center menu">
                <a href=<%= root_path %> rel="tooltip" title="Home" class="home_link">
                    <img src=<%= asset_path('icon_home.svg') %> id="icon_home" />
                </a>
            </div>
            <script>
                $('.home_link').tooltip({ placement: 'top'});
            </script>

            <div class="center home-hero">

                <div id="home-title">
                    <h1>Stereotonic</h1>
                </div>

                <div id="slogan">
                    <p>Music that matters</p>
                </div>

                <div id="button">
                    <%= button_to "Sign Up Now", signup_path, id:"new-action", method: "get" %>
                </div>

                <div id="about">
                    <a href= "<%= about_path %>" >
                        How it works?
                    </a>
                </div>

            </div>

        <% end %>

    </div>
</div>

<div class="home-feature">

    <% if signed_in? %>
        <% @latestpost = @latestpost_user %>
        <% @feed_items = @feed_items_user %>
        <% @count = @count_user %>

    <% else %>
        <% @latestpost = @latestpost_all %>
        <% @feed_items = @feed_items_all %>
        <% @count = @count_all %>

    <% end %>
        
    <div id="stage-background">
    </div>

    <div id="stage-border">
    </div>

    <div id="latest-episode">
        <h3>Trending</h3>
    </div>
            
        <% @playlist = [] %>
            <% @feed_items.each_with_index do |p,i| %>
                <% if @latestpost != p %>
                    <% @playlist << p.ytcode %>
                <% end %>
            <% end %>
                

            <% if @count>0 && @latestpost.yt? %>

                <div class="gem-wrapper">

                 <section class="gem">
                            
                    <iframe id="ytplayer" name="main-player" class="youtube-player" type="text/html" src=<%= "http://www.youtube.com/embed/"+@latestpost.ytcode+"?playlist="+@playlist.join(',')+"&autoplay=1&controls=1&showinfo=0&autohide=1&iv_load_policy=3&enablejsapi=1&version=3" %> allowfullscreen frameborder="0">
                    </iframe>


                    <section class="track-info">

                        <div id="track-id" postid = "<%= @latestpost.id %>"></div>

                        <div class="track-head">
                            <div id="track-title">
                                <h4><%= @latestpost.title %></h4>
                            </div>

                            <div id="artist-name">
                                By <%= @latestpost.artist %>
                            </div>
                        </div>

                        <div id="blurb">

                            <span id="blurb-text">
                                <%= @latestpost.blurb %>
                            </span>
                            <span style="color:black" id="blurb-fill">
                                <script>
                                    var fill = generateBlurbFill("<%= @latestpost.blurb %>");
                                    document.write(fill);
                                </script>
                            </span>
                        </div>

                        <div id="info-footer">
                            <div id="profile-photo">
                                <% if @latestpost.user.photo? %>
                                    <%= link_to image_tag(@latestpost.user.photo.url, size: "50x50", class: "img-circle"), profile_path(@latestpost.user.name) %> 
                                <% else %>
                                    <%= link_to image_tag(asset_path('default_profile.svg'), size: "50x50", class: "img-circle"), profile_path(@latestpost.user.name) %>
                                <% end %>
                            </div>

                            <div id="timestamp">
                                <span id="time">Posted <%= time_ago_in_words(@latestpost.created_at) %> ago by</span> <span id="username"><%= link_to @latestpost.user.name, profile_path(@latestpost.user.name) %></span>
                            </div>
                        </div> 
                        <div id="interaction">
                            <span id="current_like">
                                <% if current_user.like?(@latestpost) %>
                                    <%= render 'users/current_unlike' %>
                                <% else %>
                                    <%= render 'users/current_like' %>
                                <% end %>
                            </span>
                            <!--
                            <span id="favourite">
                                <%= image_tag(asset_path("favourite_button.svg"), size:"23x20", class:"favourite-button") %>
                            </span>
                        -->
                        </div>
                           
                    </section>
                 </section>

                </div>

            <% end %>

    <div class="chest">
        <% if @count>0 && @count<4 %>

            <ul >
                <% @feed_items.each_with_index do |p,i|  %>

                <% ep = @count-i %>

                <li>
                    <div class="episode">

                        <% if p.yt? %>

                            <% @profile_pic %>
                            <% if p.user.photo? %>
                                <% @profile_pic = p.user.photo.url %>
                            <% else %>
                                <% @profile_pic = asset_path('default_profile.svg') %>
                            <% end %>

                            <button id= <%= "button#{i}" %> class="menu-item" href="javascript:;" target="main-player" data-remote="true" title="<%= p.title %>" artist="<%= p.artist %>" blurb="<%= p.blurb %>" episode="<%= ep %>" created="<%= time_ago_in_words(p.created_at) %>" photo="<%= @profile_pic %>" user="<%= p.user.name %>" track="<%= i %>" postid = "<%= p.id %>">

                                <div id="thumb-photo">
                                    <%= image_tag "http://img.youtube.com/vi/"+p.ytcode+"/mqdefault.jpg", size:"211x119" %>
                                </div>

                                <div class="info-box">
                                    <div id="thumb-title">
                                        <%= truncate(p.title, :length => 24) %>
                                    </div>

                                    <div id="thumb-artist">
                                        <span>
                                            <%= p.artist %>
                                        </span>
                                    </div>

                                    <% if p.user.photo? %>
                                        <%= link_to image_tag(p.user.photo.url, size: "30x30", class: "img-circle"), profile_path(p.user.name) %> 
                                    <% else %>
                                        <%= link_to image_tag(asset_path('default_profile.svg'), size: "30x30", class: "img-circle"), profile_path(p.user.name) %>
                                    <% end %>

                                </div>

                            </button>

                            <div class="like">
                                <% @nowplaying = p %>

                                <% if signed_in? %>
                                    <div id="like_form<%= p.id %>">
                                      <% if current_user.like?(@nowplaying) %>
                                        <%= render 'users/unlike' , post: @nowplaying %>
                                      <% else %>
                                        <%= render 'users/like' , post: @nowplaying %>
                                      <% end %>
                                    </div>
                                <% end %> 
                            </div>

                        <% end %>

                        </div>
                </li>

                <% end %>
            </ul>

        <% elsif @count > 3 %>

            <ul class="center">
                <% @feed_items.each_with_index do |p,i|  %>

                <% ep = @count-i %>

                <li>
                    <div class="episode">

                        <% if p.yt? %>

                            <% @profile_pic %>
                            <% if p.user.photo? %>
                                <% @profile_pic = p.user.photo.url %>
                            <% else %>
                                <% @profile_pic = asset_path('default_profile.svg') %>
                            <% end %>

                            <button id= <%= "button#{i}" %> class="menu-item" href="javascript:;" target="main-player" data-remote="true" title="<%= p.title %>" artist="<%= p.artist %>" blurb="<%= p.blurb %>" episode="<%= ep %>" created="<%= time_ago_in_words(p.created_at) %>" photo="<%= @profile_pic %>" user="<%= p.user.name %>" track="<%= i %>" postid = "<%= p.id %>">

                                <div id="thumb-photo">
                                    <%= image_tag "http://img.youtube.com/vi/"+p.ytcode+"/mqdefault.jpg", size:"211x119" %>
                                </div>

                                <div class="info-box">
                                    <div id="thumb-title">
                                        <%= truncate(p.title, :length => 24) %>
                                    </div>

                                    <div id="thumb-artist">
                                        <span>
                                            <%= p.artist %>
                                        </span>
                                    </div>

                                    <% if p.user.photo? %>
                                        <%= link_to image_tag(p.user.photo.url, size: "30x30", class: "img-circle"), profile_path(p.user.name) %> 
                                    <% else %>
                                        <%= link_to image_tag(asset_path('default_profile.svg'), size: "30x30", class: "img-circle"), profile_path(p.user.name) %>
                                    <% end %>

                                </div>

                            </button>

                            <div class="like">
                                <% @nowplaying = p %>

                                <% if signed_in? %>
                                    <div id="like_form<%= p.id %>">
                                      <% if current_user.like?(@nowplaying) %>
                                        <%= render 'users/unlike' , post: @nowplaying %>
                                      <% else %>
                                        <%= render 'users/like' , post: @nowplaying %>
                                      <% end %>
                                    </div>
                                <% end %> 
                            </div>

                        <% end %>

                        </div>
                </li>

                <% end %>
            </ul>

        <% end %>
    </div>
</div>