<% provide(:title, 'Sign In') %>

<div class="user-forms">
	<div id="signin">

		<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %>	

	    <div class="close">
        	<%= link_to_function(image_tag(asset_path("icon_close.svg"), size:"25x25"), "history.back()") %>
    	</div>

		<div class="center">

			<h1>Sign In</h1>

				<%= form_for(:session, url: sessions_path) do |f| %>

						<div class="form-divider">	
							<%= f.text_field :email, placeholder: "Email" %>
						</div>
							
						<div class="form-divider">
							<%= f.password_field :password, placeholder: "Password" %>
						</div>		

						<%= f.submit "Let's Go!" %>		

				<% end %>	
		</div>	
	</div>	
</div>