<div style="background: #0f1010; color: white; text-align: center; padding-left:30px; padding-right:30px">

		<h1 style="padding-top: 15px; padding-bottom: 15px; font-size: 2em; font-weight: 300; color: #24c0ab; border-bottom: 1px solid #5c5c5c; font-family: Verdana,sans-serif;">
			Stereotonic
		</h1>

		<div>
			<h3 style="color: white; top-padding: -15px;">
				Hi, <%= @target.name %>!
			</h3>
		</div>	
			
		<div>
			<h3 style="font-weight: 300; color: $grayLight;">
				You have a new follower on Stereotonic 
			</h3>
		</div>
		
		<div style="padding-top: 15px; padding-bottom: 15px;">
			<div  >
	            <% if @follower.photo? %>
	            	<a href="<%= profile_url(@follower.name) %>">    
		                <img src= "<%= @follower.photo.url %>" style="height: 120px; width: 120px; border: 3px solid white; border-radius:50% 50% 50% 50%;">
	            	</a>
	            <% else %>
	            	<a href="<%= profile_url(@follower.name) %>">
	                	<img src= "http://www.stereotonic.co/assets/default_profile-1ac4574a93365280923231bc19aeace8.svg" style="height: 120px; width: 120px; border: 3px solid white; border-radius:50% 50% 50% 50%;">
	                </a>	
	            <% end %>
	        </div>

	        <div style="color: #24c0ab;">
	        	<a href="<%= profile_url(@follower.name) %>" style="text-decoration: none; color: white">
	            	<h2><%= @follower.name %></h2>
	            </a>	
	        </div>

		</div>
</div>	