<% provide(title: "User Directory") %>

<% if signed_in? %>
	<% if @user.wallpaper? %>
		<div id="profile-wall-wrapper" style="<%= show_user_bg %>">
	<% else %>
		<div id="profile-wall-wrapper" style="background-image: url(<%= asset_path('mic.jpg') %>);
                                          background-size: cover;
                                          background-position: center;">
	<% end %>

		<div class="profile-wall fixed">

			<div class="login-out">
                <%= link_to(image_tag(asset_path("icon_logout.svg")), logout_path, method: "delete", data: { confirm: "Are you sure you want to log out?" }) %>
            </div>
			
			<div class="center profile-hero">	

				<div id="profile-photo">
					<% if @user.photo? %>
						<%= image_tag @user.photo.url, size: "120x120", class: "img-circle" %>
            		<% else %>
						<%= image_tag asset_path('default_profile.svg'), size: "120x120", class: "img-circle" %>
					<% end %>
				</div>	

				<div id="username">
					<h1><%= @user.name %></h1>
				</div>

				<div id="bio">
					<p><%= @user.bio %></p>
				</div>
				
				<div id="button">
		    		<% if current_user == @user %>
		        		<%= button_to "New Episode", new_post_path, id:"new-action", method: "get" %>
		        	<% end %>
    			</div>

				<div>	
					<% unless !signed_in? || current_user == @user %>
			  			<% if current_user.following?(@user) %>
			    			<%= render 'unfollow' %>
			  			<% else %>
			    			<%= render 'follow' %>
			  			<% end %>  		
					<% end %>	
				</div>	

				<div id="profile-stats">

					<a href="<%= profile_path(@user.name) %>">
					   <strong class="stat">
					    <%= @count %>
					   </strong>
					   Episodes
					</a>				   

					<a href="<%= followers_user_path(@user) %>">
					  <strong id="followers" class="stat">
					    <%= @user.followers.count %>
					  </strong>
					  Followers
					</a>	

					<a href="<%= following_user_path(@user) %>">
					  <strong class="stat">
					    <%= @user.followed_users.count %>
					  </strong>
					  Following
					</a>
				
				</div>

				<div class ="center menu">

		        	<a href=<%= root_path %>>
		            	<img src=<%= asset_path('icon_home.svg') %> id="icon_home" />
		            </a>

		            <a href=<%= @current_user.name %>>
		            	<img src=<%= asset_path('icon_profile.svg') %> id="icon_profile" />
		            </a >

		            <a href=<%= users_path %>>
		            	<img src=<%= asset_path('icon_search.svg') %> id="icon_search" />
		            </a>

		            <a href=<%= edit_user_path(@current_user.id) %>>
		            	<img src=<%= asset_path('icon_settings.svg') %> id="icon_settings" />
		            </a>

		        </div>
				
			</div>
		</div>	
	</div>

<% else %>
	
	<div id="home-wall-wrapper" >
	    <div class="home-wall fixed">

            <div class="login-out">
                <%= link_to(image_tag(asset_path("icon_logout.svg")), signin_path, method: "get") %>
            </div>

            <div class="center home-hero">

                <div id="home-title">
                    <h1>Stereotonic</h1>
                </div>

                <div id="slogan">
                    <p>Music that matters</p>
                </div>

                <div id="button">
                    <%= button_to "Sign Up Now", signup_path, id:"new-action", method: "get" %>
                </div>

            </div>

        </div>
	</div>

<% end %>

<div class="users">

	<div>
		<h3>User Directory</h3>
	</div>

	<ul>
		<% @users.each do |f|  %>

			<li>
				<div>
					
					<div id="follow-photo"> 
						<% if f.photo? %>
							<%= link_to image_tag(f.photo.url, size: "75x75", class: "img-circle"), profile_path(f.name) %>	
            			<% else %>
							<%= link_to image_tag(asset_path('default_profile.svg'), size: "75x75", class: "img-circle"), profile_path(f.name) %>
						<% end %>
					</div>

					<div id="follow-name">
						<h4><%= link_to f.name, profile_path(f.name) %></h4>
					</div>

					<div>
						<% if f.bio? %>
							<p><%= f.bio %></p>
						<% else %>
							<span style="color: #0f1010"> - </span>
						<% end %>
					</div>		

					<div id="index-follow-button">
            			<% unless f == @user %>
                			<% if @user.following?(f) %>
								Following	
                			<% end %>
            			<% end %>
        			</div>			

				</div>
			</li>
				
		<% end %>
	</ul>
		
</div>