<% provide(:title, 'Signup') %>
<div class="signup">
	
    <nav>
    	<ul class="nav nav-pills pull-left">
        	<li><%= link_to "Home", root_path %></li> 	
         </ul>

   		 
     </nav>
  
	<div class="center">

				<h1>Signup</h1>

				<%= form_for (@user) do |f| %>

					<%= render 'shared/error_messages' %>
						
						<div class="form-divider">
							<%= f.text_field :name, value: "Username" %>
						</div>
						
						<div class="form-divider">	
							<%= f.text_field :email, value: "Email" %>
						</div>
						
						<div class="form-divider">
							<%= f.text_field :password, value: "Password" %>
						</div>
						
						<div class="form-divider">
							<%= f.text_field :password_confirmation, value: "Confirm Password" %>
						</div>		

						<%= f.submit "Let's Go!" %>		

				<% end %>	
	</div>	
</div>