<% provide(:title, 'Signup') %>

<div class="user-forms">
	<div id="signup">
    	<div class="close-nav">
            <%= link_to_function(image_tag(asset_path("icon_close.svg"), size:"25x25"), "history.back()") %>
        </div>

    	<div class="center">

    	<h1>Signup</h1>

    	<%= form_for (@user) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>

    	<div class="form-divider">
    		<%= f.text_field :name, placeholder: "Username" %>
    	</div>

   	 	<div class="form-divider">
   		     <%= f.text_field :email, placeholder: "Email" %>
  	    </div>

    	<div class="form-divider">
        	<%= f.password_field :password, placeholder: "Password" %>
    	</div>

    	<div class="form-divider">
        	<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    	</div>

    	<%= f.submit "Let's Go!" %>

    	<% end %>
    	</div>
 	</div>
</div>