<% provide(:title, @user.name) %>

<div id="profile-wall-wrapper" style="<%= show_user_bg %>">
	<div class="profile-wall fixed">
		
		<div class="center profile-hero">	

			<div id="profile-photo">
				<%= image_tag @user.photo.url, size: "120x120", class: "img-circle" %>
			</div>	

			<div id="username">
				<h1><%= @user.name %></h1>
			</div>

			<div id="bio">
				<p><%= @user.bio %></p>
			</div>
			
			<div>
				<% if current_user == @user %>
					<%= button_to "New Episode", new_post_path, id:"new-episode", method: "get" %>
				<% end %>
			</div>

			<div>	
				<% unless !signed_in? || current_user == @user %>
		  			<% if current_user.following?(@user) %>
		    			<%= render 'unfollow' %>
		  			<% else %>
		    			<%= render 'follow' %>
		  			<% end %>  		
				<% end %>	
			</div>	

			<div id="profile-stats-posts">

				<a href="<%= profile_path(@user.name) %>">
				   <strong class="stat">
				    <%= @count %>
				   </strong>
				   Episodes
				</a>				   

				<a href="<%= followers_user_path(@user) %>">
				  <strong id="followers" class="stat">
				    <%= @user.followers.count %>
				  </strong>
				  Followers
				</a>	

				<a href="<%= following_user_path(@user) %>">
				  <strong class="stat">
				    <%= @user.followed_users.count %>
				  </strong>
				  Following
				</a>
			
			</div>
			
		</div>
	</div>	
</div>	


<div class="users">

	<div>
		<h2>Followers</h2>
	</div>

	<ul>
		<% @users.each do |f|  %>

			<li>
				<div>
					
					<div id="follow-photo"> 
						<%= link_to image_tag(f.photo.url, size: "75x75", class: "img-circle"), profile_path(f.name) %>	
					</div>

					<div id="follow-name">
						<h4><%= link_to f.name, profile_path(f.name) %></h4>
					</div>

					<div>
						<p><%= f.bio %></p>
					</div>					

				</div>
			</li>
				
		<% end %>
	</ul>
		
</div>