<% provide(:title, @user.name) %>

<div id="profile-wall-wrapper" style="<%= show_user_bg %>">
	<div class="profile-wall fixed">
		<nav>
			   	<ul class="nav nav-pills pull-left">
			       	<li><%= link_to "Home", root_path %></li> 	
			    </ul>


			    <% if signed_in? %>
				    <ul class="nav nav-pills pull-right">
				       	 <li id="fat-menu" class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                Account <b class="caret"></b>
		              </a>
		              <ul class="dropdown-menu pull-right">
		                <li><%= link_to "Profile", profile_path(current_user.name) %></li>
		                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		                <li>
		                  <%= link_to "Log Out", logout_path, method: "delete" %>
		                </li>
		              </ul>
		            </li>	
				    </ul>
			   	<% end %>	 
		</nav>
		
		<div class="center profile-hero">	

			<div id="profile-photo">
				<%= image_tag @user.photo.url, size: "120x120", class: "img-circle" %>
			</div>	

			<div id="username">
				<h1><%= @user.name %></h1>
			</div>

			<div id="bio">
				<p><%= @user.bio %></p>
			</div>
			
			<div>
				<% if current_user == @user %>
					<%= button_to "New Episode", new_post_path, id:"new-episode", method: "get" %>
				<% end %>
			</div>

			<div>	
				<% unless !signed_in? || current_user == @user %>
		  			<% if current_user.following?(@user) %>
		    			<%= render 'unfollow' %>
		  			<% else %>
		    			<%= render 'follow' %>
		  			<% end %>  		
				<% end %>	
			</div>	

			<div id="profile-stats-posts">

				<a href="">
				   <strong class="stat">
				    <%= @count %>
				   </strong>
				   Episodes
				</a>				   

				<a href="<%= followers_user_path(@user) %>">
				  <strong id="followers" class="stat">
				    <%= @user.followers.count %>
				  </strong>
				  Followers
				</a>	

				<a href="<%= following_user_path(@user) %>">
				  <strong class="stat">
				    <%= @user.followed_users.count %>
				  </strong>
				  Following
				</a>
			
			</div>
			
		</div>
	</div>	

</div>	

<div class="feature">

	<% if @count > 0 %>

		<div div="latest-episode">
			<h2>Episodes</h2>
		</div>

		<ul>
			<% @posts.each_with_index do |p,i|  %>

			<% ep = @count-i %>

			<li>
				<div class="episode">

					

					<% if p.yt? && i==0 && current_user!=@user %>

						<section class="gem">
							<iframe name="main-player" class="youtube-player" type="text/html" width="540" height="304" src="<%= "http://www.youtube.com/embed/"+p.ytcode+"?&controls=1&showinfo=0&autohide=1" %>" allowfullscreen frameborder="0">
							</iframe>

							<section class="track-info">
								<div id="episode-number">
									Episode <%= ep %>
								</div>

								<div id="track-title">
									<h4><%= p.title %></h4>
								</div>

								<div id="artist-name">
									By <%= p.artist %>
								</div>
								
								<div id="blurb">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut
								</div>

								<div id="timestamp">
									<%= time_ago_in_words(p.created_at) %> ago
								</div>
									
							</section>
						</section>	

						<div>
							<a href="javascript:;" target="main-player" data-remote="true" class="menu" vid= "<%= "http://www.youtube.com/embed/"+p.ytcode+"?autoplay=1&controls=1&showinfo=0&autohide=1" %>" title="<%= p.title %>" artist="<%= p.artist %>" blurb="<%= p.blurb %>" >
							<%= p.title %> by <%= p.artist %>
						</a>
						</div>

					<% elsif p.yt? && i==0 %>
						
						<section class="gem">
							<iframe name="main-player" class="youtube-player" type="text/html" width="540" height="304" src="<%= "http://www.youtube.com/embed/"+p.ytcode+"?&controls=1&showinfo=0&autohide=1" %>" allowfullscreen frameborder="0">
							</iframe>

							<section class="track-info">
								<div id="episode-number">
									Episode <%= ep %>
								</div>

								<div id="track-title">
									<h4><%= p.title %></h4>
								</div>

								<div id="artist-name">
									By <%= p.artist %>
								</div>
								
								<div id="blurb">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut
								</div>

								<div id="timestamp">
									<%= time_ago_in_words(p.created_at) %> ago
								</div>
									
							</section>
						</section>	

						<div>
							<a href="javascript:;" target="main-player" data-remote="true" class="menu" vid= "<%= "http://www.youtube.com/embed/"+p.ytcode+"?autoplay=1&controls=1&showinfo=0&autohide=1" %>" title="<%= p.title %>" artist="<%= p.artist %>" blurb="<%= p.blurb %>" >
							<%= p.title %> by <%= p.artist %>
						</a>
						</div>	
					
					<% elsif p.yt? && i>0 %>
						<a href="javascript:;" target="main-player" data-remote="true" class="menu" vid= "<%= "http://www.youtube.com/embed/"+p.ytcode+"?autoplay=1&controls=1&showinfo=0&autohide=1" %>" title="<%= p.title %>" artist="<%= p.artist %>" blurb="<%= p.blurb %>" >
							<%= p.title %> by <%= p.artist %>
						</a>

					<% end %>	

				</div>
			</li>
				
			<% end %>
		</ul>
	<% end %>	
</div>