<% provide(:title, @user.name) %>

<div class="center profile-hero">
	
	<nav>
	   	<ul class="nav nav-pills pull-left">
	       	<li><%= link_to "Home", root_path %></li> 	
	    </ul>


	    <% if signed_in? %>
		    <ul class="nav nav-pills pull-right">
		       	 <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to "Profile", profile_path(current_user.name) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Log Out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>	
		    </ul>
	   	<% end %>	 
	</nav>

	<div>
		<%= link_to "New Episode", new_post_path(current_user) %>
	</div>
	
	<% unless current_user == @user %>
  		<div class="follow-button">
  			<% if current_user.following?(@user) %>
    			<%= render 'unfollow' %>
  			<% else %>
    			<%= render 'follow' %>
  			<% end %>
  		</div>
	<% end %>

	<div>
		<%= image_tag @user.photo.url, size: "100x100" %>
	</div>

	<div>
		<%= image_tag @user.wallpaper.url, size: "100x100" %>
	</div>	

</div>

<div class="container feature">
	<ul>
		<% @posts.each do |p|  %>

		<li>
			<div class="episode">

				<h2>Episode #</h2> 

				<h3>"Did You Hear the Rain?" by <%= link_to "George Ezra", "https://twitter.com/george_ezra", :target => '_blank' %></h3>

				<iframe class="youtube-player" type="text/html" width="940" height="578" src="http://www.youtube.com/embed/hbfHe3nd_Lo?autoplay=0" allowfullscreen frameborder="0">
				</iframe>

			</div>
		</li>
			
		<% end %>
	</ul>
</div>