<% provide(:title, @user.name) %>

<% if @user.wallpaper? %>
    <div id="profile-wall-wrapper" style="<%= show_user_bg %>">
<% else %>
    <div id="profile-wall-wrapper" style="background-image: url(<%= asset_path('mic.jpg') %>);
                                          background-size: cover;
                                          background-position: center;">
<% end %>
	<div class="profile-wall fixed">

		<% if signed_in? %>

	        <div class="login-out">
	            <%= link_to(image_tag(asset_path("icon_logout.svg"), id:"lo"), logout_path, method: "delete", data: { confirm: "Are you sure you want to log out?" }) %>
	        </div>

	    <% else %>
	    
	    	<div class="login-out">
            	<%= link_to(image_tag(asset_path("icon_logout.svg"), id: "li"), signin_path, method: "get") %>
        	</div>    

   		<% end %>
		
		<div class="center profile-hero">	

			<div id="profile-photo">
				<% if @user.photo? %>
					<%= image_tag @user.photo.url, size: "120x120", class: "img-circle" %>
            	<% else %>
					<%= image_tag asset_path('default_profile.svg'), size: "120x120", class: "img-circle" %>
				<% end %>
			</div>	

			<div id="username">
				<h1><%= @user.name %></h1>
			</div>

			<div id="bio">
				<p><%= @user.bio %></p>
			</div>
			
			<div id="button">
	    		<% if current_user == @user %>
	        		<%= button_to "New Episode", new_post_path, id:"new-action", method: "get" %>
	        	<% end %>
    		</div>

			<div id="follow-container">
            	<%= render 'follow_form' %>
        	</div>

			<div id="profile-stats-followers">

				<a href="<%= profile_path(@user.name) %>">
				   <strong class="stat">
				    <%= @count %>
				   </strong>
				   Episodes
				</a>				   

				<a href="<%= followers_user_path(@user) %>">
				  <strong id="followers" class="stat">
				    <%= @user.followers.count %>
				  </strong>
				  Followers
				</a>	

				<a href="<%= following_user_path(@user) %>">
				  <strong class="stat">
				    <%= @user.followed_users.count %>
				  </strong>
				  Following
				</a>
			
			</div>
			
		</div>

		<% if signed_in? %>
	    	<div class ="center menu">

	        	<a href=<%= root_path %>>
	            	<img src=<%= asset_path('icon_home.svg') %> id="icon_home" />
	            </a>

	            <a href=<%= @current_user.name %>>
	            	<img src=<%= asset_path('icon_profile.svg') %> id="icon_profile" />
	            </a >

	            <a href=<%= users_path %>>
                    <img src=<%= asset_path('icon_search.svg') %> id="icon_search" />
                </a>

	            <a href=<%= edit_user_path(@current_user.id) %>>
	            	<img src=<%= asset_path('icon_settings.svg') %> id="icon_settings" />
	            </a>

	        </div>
	    <% else %>
	    	<div class="center menu">
                <a href=<%= root_path %>>
                    <img src=<%= asset_path('icon_home.svg') %> id="icon_home" />
                </a>
            </div>
    	<% end %>
	</div>	
</div>	


	<div class="users">

		<div>
			<h3>Followers</h3>
		</div>

		<ul>
			<% @users.each do |f|  %>

				<li>
					<div>
						
						<div id="follow-photo"> 
							<% if f.photo? %>
								<%= link_to image_tag(f.photo.url, size: "75x75", class: "img-circle"), profile_path(f.name) %>	
	            			<% else %>
								<%= link_to image_tag(asset_path('default_profile.svg'), size: "75x75", class: "img-circle"), profile_path(f.name) %>
							<% end %>
						</div>

						<div id="follow-name">
							<h4><%= link_to f.name, profile_path(f.name) %></h4>
						</div>

						<div>
							<% if f.bio? %>
								<p><%= f.bio %></p>
							<% else %>
								<span style="color: #0f1010"> - </span>
							<% end %>
						</div>					

					</div>
				</li>
					
			<% end %>
		</ul>
			
	</div>

