<% provide(:title, 'New Episode') %>

<div class="user-forms">
	<div id="episode">
	    <nav>
	    	<ul class="nav nav-pills pull-left">
	        	<li><%= link_to "Home", root_path %></li> 	
	         </ul>
	   		 
	     </nav>
	  
		<div class="center">

			<h1>New Episode</h1>

				<%= form_for(@post) do |f| %>

					<%= render 'shared/error_messages', object: f.object %>
							
						<div class="form-divider">
							<%= f.text_field :title, placeholder: "Track Title" %>
						</div>
							
						<div class="form-divider">	
							<%= f.text_field :artist, placeholder: "Artist" %>
						</div>
							
						<div class="form-divider">
							<%= f.text_field :youtube, placeholder: "YouTube" %>
						</div>
							
						<div class="form-divider">
							<%= f.text_field :soundcloud, placeholder: "Soundcloud" %>
						</div>

						<%= f.submit "Let's Go!" %>		

					<% end %>	
		</div>
	</div>		
</div