<% provide(:title, 'New Episode') %>

<div class="user-forms ">

	<div id="episode">

	    <div class="close-nav">
        	<%= link_to_function(image_tag(asset_path("icon_close.svg"), size:"25x25"), "history.back()") %>
    	</div>
	  
		<div class="center">

			<h1>New Episode</h1>

				<%= form_for(@post) do |f| %>

					<%= render 'shared/error_messages', object: f.object %>
							
						<div class="form-divider">
							<%= f.text_field :title, placeholder: "Track Title" %>
						</div>
							
						<div class="form-divider">	
							<%= f.text_field :artist, placeholder: "Artist" %>
						</div>
	
						<div class="form-divider">
							<%= f.text_field :link, placeholder: "YouTube Link" %>
						</div>

						<div class="form-divider">
							<%= f.text_area :blurb, placeholder: "Blurb" %>
						</div>

						<%= f.submit "Let's Go!" %>		

					<% end %>	
		</div>
	</div>		
</div