<!DOCTYPE html>
<html>
<head>
  <title><% full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "TDH_Favicon.ico" %>
  <%= render 'layouts/shim' %>
  
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
</head>
<body>
		<%= yield %>	
</body>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
</html>
