<!DOCTYPE html>
<html>
<head>
  <title><% full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= render 'layouts/shim' %>
  
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>

  <!-- Script to fix Blurb -->
  <script>
  function generateBlurbFill(text) {
            console.log("here");
            var textLength = text.length;
            var fill = "";
            if (textLength < 140) {
                var spaces = 140-textLength;
                for(var i=0; i<spaces; i++) {
                    fill += "-";
                }
            }
            else {
                return;
            }
            return fill;
        };
  </script>

  <script>
    var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  </script>

</head>
<body>
		<%= yield %>	
</body>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
</html>
